In [23]:
a = str(14527988)
str1=""
for i in range(0,len(a)-1,2):
    if a[i] >= a[i+1]:
        str1+=a[i]
    else:
        str1+=a[i+1]
if(len(a)%2!=0):
    str1+=a[-1]
        
str1

'4598'

In [1]:
list1=[2,4,6,7,9,8,53,12,34,90]

In [2]:
#linear search

ele = 53
found = 0
for i in range(len(list1)):
    if list1[i] == ele:
        found = 1
        break
if found == 1:
    print("found at position : {}".format(i+1))
else:
    print("not found")

found at position : 7

In [3]:
#binary search

def search(list1,ele):
    l = 0
    u = len(list1)-1

    while l<= u:
        mid = (u+l)//2
        if list1[mid] == ele:
            return True
        else:
            if list1[mid]< ele:
                l=mid
            else:
                u=mid
list1=[3,24,7,16,4,36,6,45,62,29,94]               
ele=45
                
if search(list1,ele):
    print("found")
else:
    print("not found")

found

In [4]:
#bubbel sort

def buble(list1):
    for i in range(len(list1)):
        for j in range(len(list1)-1):
            if list1[j] > list1[j+1]:
                temp=list1[j+1]
                list1[j+1]=list1[j]
                list1[j]=temp
    return list1

list1=[3,24,7,16,4,36,6,45,62,29,94] 
print(buble(list1))

[3, 4, 6, 7, 16, 24, 29, 36, 45, 62, 94]

In [5]:
# selection sort

def sort(list1):
    
    for i in range(len(list1)-1):
    
        for j in range(i,len(list1)):
            if list1[i] > list1[j]:
                temp= list1[j]
                list1[j]=list1[i]
                list1[i]=temp
        print(list1)
    return list1
        
    
list1=[5,2,7,9,4,6]
sort(list1)

[2, 5, 7, 9, 4, 6]
[2, 4, 7, 9, 5, 6]
[2, 4, 5, 9, 7, 6]
[2, 4, 5, 6, 9, 7]
[2, 4, 5, 6, 7, 9]

[2, 4, 5, 6, 7, 9]

In [6]:
class student:
    def __init__(self,roll_no,name):
        self.roll_no = roll_no
        self.name = name
        
    def set(self,marks):
        self.marks = marks
        
    def display(self):
        print(self.roll_no)
        print(self.name)
        print(self.marks)
        
        
s=student(1,'akshay')
s.set(55)
s.display()

1
akshay
55

# ARRAY

In [7]:
import array as arr

In [8]:
arr1 = arr.array('i',[2,3,4,5,6])

for ele in arr1:
    print(ele)

2
3
4
5
6

In [10]:
print(arr1[0])
arr1.insert(0,1)
print(arr1)
arr1.remove(1)
print(arr1)
print(arr1.index(4))
arr1[0]=1
print(arr1)

2
array('i', [1, 2, 3, 4, 5, 6])
array('i', [2, 3, 4, 5, 6])
2
array('i', [1, 3, 4, 5, 6])

# map

In [17]:
list1=[2,4,7,6,4,2]
list2=[9,8,7,6,4,2]

res=map(float,list2)

for i in res:
    print(i)

9.0
8.0
7.0
6.0
4.0
2.0

# OOPS

define class and create object

In [23]:
class student:
    print("hii")
    
stud = student()

hii

constructor

In [27]:
class student:
    
    def __init__(self, name, id):
        
            print("IN CONSTRUCTOR.....")
            self.name = name
            self.id = id
            
    def show(self):
        
        print("id : {}  name : {} ".format(self.id, self.name))
        
std = student(1,'akshay')

std.show()

IN CONSTRUCTOR.....
id : akshay  name : 1

set and get method

In [33]:
class student:
    
    def __init__(self, id, name):
        
        print("constructor....",self)
        self.id = id
        self.name = name
                
    def set(self, id, name):
        
        print("set value...")
        self.id = id
        self.name = name
        
    def get(self):
        
        return  print("id : {} name : {} ".format(self.id, self.name))
    
    
std = student(1, 'akshay')
std1 = student(2, 'mayur')

std.get()
std.set(1,'AKSHAY')
print("after set value...")
std.get()
print()
std1.get()
std1.set(2,'MAYUR')
print("after set value...")
std1.get()

constructor.... <__main__.student object at 0x7f5c241f1128>
constructor.... <__main__.student object at 0x7f5c242bc978>
id : 1 name : akshay
set value...
after set value...
id : 1 name : AKSHAY

id : 2 name : mayur
set value...
after set value...
id : 2 name : MAYUR

# linked list